<!DOCTYPE html>
<html>

<head>
    <title>News24H Admin</title>

    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/public/img/logo-2.png" />

    <!-- Import lib -->
    <link rel="stylesheet" type="text/css" href="/public/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/style_of_mine.css">
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css">
    <!-- End import lib -->

    {{{_sections.css}}}
</head>

<body>
    <div class="container">
        <!-- navbar -->
        <div class="navbar d-flex">
            <!-- nav left -->
            <ul class="navbar-nav left-nav-item">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-bars" aria-hidden="true" onclick="collapseSidebar()"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin">
                        <img src="/public/img/logo.png" alt="News24H logo" class="logo">
                    </a>
                </li>
            </ul>
            <!-- end nav left -->
            <!-- form -->
            {{!-- <form class="navbar-search">
            <input type="text" name="Search" class="navbar-search-input" placeholder="What you looking for...">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form> --}}
            <!-- end form -->
            <!-- nav right -->
            <ul class="navbar-nav right-nav-item">
                <li class="nav-item dropdown">
                </li>
                <li class="nav-item">
                    <div class="avt dropdown">
                        <div class="dropdown-toggle" data-toggle="user-menu">
                            {{#if lcUser.avatar}}
                            <img src="/public/img/img_avatar/{{lcUser.avatar}}" alt="User image">
                            {{else}}
                            <img src="/public/img/img_avatar/default_user.png" alt="User image">
                            {{/if}}
                            {{lcUser.display_name}}
                        </div>
                        <ul id="user-menu" class="dropdown-menu">
                            <li class="dropdown-menu-item">
                                <a class="dropdown-menu-link" href="/user/profile">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="dropdown-menu-item">
                                <a href="/pass/change" class="dropdown-menu-link">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    Change Password
                                </a>
                            </li>
                            <li class="dropdown-menu-item">
                                <a href="/login/logout" class="dropdown-menu-link">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- end nav right -->
        </div>
        <!-- end navbar -->
    </div>
    <!-- sidebar -->
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="/admin/category" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <span>
                        Category
                    </span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/admin/tag" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </div>
                    <span>Tags</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/admin/post" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <span>Posts</span>
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/admin/user" class="sidebar-nav-link">
                    <div>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->

    {{{body}}}

</body>

<!-- import script -->
<script src="/public/js/admin.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="https://use.fontawesome.com/c4229e64ed.js"></script>

{{{_sections.js}}}
<!-- end import script -->

</html>