{{#section 'js'}}
<script>
    $('.article-pagination .disable').on('click', function (e) {
        e.preventDefault();
    })
</script>
{{/section}}
<!-- main content -->
<div class="wrapper">

    <div class="table-title">
        <h3 style="color: mediumvioletred;">Danh sách chuyên mục đã phân công</h3>
    </div>
    <p>Biên tập viên: {{this.user.display_name}} </p>
    <br>
    <div style="float:right">
        <a class="btn success" href="/admin/user/addAssign/{{this.user.id}}" role="button" title="Thêm người dùng">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Phân công chuyên mục
        </a>
    </div>
    <br><br>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Chuyên mục</th>
                <th class="text-left">Tình trạng</th>
                <th class="text-left">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {{#each this.assign}}
            <tr>
                <td class="text-left">
                    {{name}}
                </td>
                <form method="POST">
                    <input hidden name="id" value="{{id}}">
                    {{#if delete}}
                    <td class="text-center" style="color: red;">
                        Đã ngừng phân công
                    </td>
                    <td class="text-center">
                        <button type="submit" title="Phân công lại" formaction="/admin/assign/restore">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </td>
                    {{else}}
                    <td class="text-center" style="color: blue;">
                        Đang được phân công
                    </td>
                    <td class="text-center">
                        <button type="submit" title="Ngừng phân công" formaction="/admin/assign/del">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                    {{/if}}
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div>
        <a class="btn success" href="/admin/user" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Trở lại
        </a>
    </div>

</div>
<!-- end main content -->