{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">s
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</script>
<script>
    $('#inputDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true
    });
</script>
<script>
    $('#txttime_out').datetimepicker({
        format: 'H:i, d/m/Y',
        mask: true
    });
</script>
{{/section}}
<!-- main content -->
<div class="wrapper">
    <form action="/admin/user/update" method="POST">
        <label for="id">#</label>
        <input type="text" id="id" name="id" value="{{this.user.id}}" readonly>
        <label for="user_name">Tên đăng nhập</label>
        <input type="text" id="user_name" name="user_name" value="{{this.user.user_name}}" autofocus required>
        <label for="display_name">Tên hiển thị</label>
        <input type="text" id="display_name" name="display_name" value="{{this.user.display_name}}" required>
        <label for="DOB">Ngày sinh</label>
        <input id="inputDOB" type="text" name="DOB" value="{{parseTime this.user.DOB}}">
        <label for="gender"> Giới tính</label>
        <select name="gender">
            {{#if this.user.gender}}
            <option value="1" selected>&#xf182; Nữ </option>
            <option value="0">&#xf183; Nam</option>
            {{else}}
            <option value="1">&#xf182; Nữ </option>
            <option value="0" selected>&#xf183; Nam</option>
            {{/if}}
        </select>
        <br><br>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <label for="time_out">Time out</label>
        <input type="text" id="txttime_out" name="time_out" value="{{parseTime this.user.time_out}}">
        <label for="create_date">Ngày tạo</label>
        <input type="text" id="" name="" value="{{parseTime this.user.create_date}}" readonly>
        <label for="permission">Quyền hạn: </label>
        <select name="permission">
            {{#each this.pers }}
            <option value="{{id}}" {{#if Select}} selected {{/if}}>{{name}}</option>
            {{/each}}
        </select>
        <label for="delete">Tình trạng</label>
        <select name="delete">
            {{#if this.user.delete}}
            <option value="1" selected>đang khóa <i class="fa fa-frown-o" aria-hidden="true"></i></option>
            <option value="0">không khóa <i class="fa fa-smile-o" aria-hidden="true"></i></option>
            {{else}}
            <option value="1">đang khóa <i class="fa fa-frown-o" aria-hidden="true"></option>
            <option value="0" selected>không khóa<i class="fa fa-smile-o" aria-hidden="true"></i></option>
            {{/if}}
        </select>
        <hr>
        <a href="/admin/user" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <input type="submit" value="Lưu">
    </form>
</div>
<!-- end main content -->