{{#section 'js'}}
<script>
    $('.article-pagination .disable').on('click', function (e) {
        e.preventDefault();
    })
</script>
{{/section}}

<div class="content-body">
    <div class="title-editor">
        <h4>Biên tập viên</h4>
    </div>
    {{#if this.empty}}
    {{!-- Card body thong bao table empty  --}}
    <div class="card-body">
        <h6 class="card-text">Không có bài cần duyệt</h6>
    </div>
    {{else}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        {{#if process}}
        <div class="panel-heading">
            <h2>Danh sách bài viết Biên tập viên "{{lcUser.display_name}}" đã duyệt</h2>
        </div>
        {{else}}
        <div class="panel-heading">
            <h2>Danh sách bài viết cần duyệt</h2>
        </div>
        {{/if}}

        <table class="table custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Tóm tắt</th>
                    <th>Chuyên mục</th>
                    {{#if process}}
                    <th>Trạng thái</th>
                    {{/if}}
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#if process}}

                {{#each this.editor}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{tiny_des}}</td>
                    <td>{{nameCat2}}</td>
                    <td>{{status}}</td>
                    <td>
                        <a class="btn btn-info" href="/editor/detail/{{id}}" role="button">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}

                {{else}}

                {{#each this.editor}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{tiny_des}}</td>
                    <td>{{nameCat2}}</td>
                    <td>
                        <a class="btn btn-info" href="/editor/detail/{{id}}" role="button">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
        {{/if}}
    </div>
    <!-- pagination -->
    <div class="article-pagination foot">
        <ul>
            <li><a {{#unless can_go_prev}} class="disable" {{/unless}} href="?page={{prev_value}}"><i
                        class="fa fa-angle-double-left"></i></a></li>
            {{#each pageItems}}
            <li {{#if active}} class="active" {{/if}}>
                <a {{#if disable}} class="disable" {{/if}} {{#if active}} class="active" {{/if}}
                    href="?page={{value}}">{{value}}</a></li>
            {{/each}}
            <li><a {{#unless can_go_next}} class="disable" {{/unless}} href="?page={{next_value}}"><i
                        class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
    <!-- /pagination -->
</div>