{{#section 'js'}}
<script>
    $('.article-pagination .disable').on('click', function (e) {
        e.preventDefault();
    })
</script>
{{/section}}
<!-- main content -->
<div class="wrapper">

    <div class="table-title">
        <h3>Danh sách nhãn</h3>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>Danh sách nhãn</h2>
            <a class="btn success" href="/admin/tag/add" role="button" title="Thêm nhãn">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm nhãn
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên nhãn</th>
                    <th>Ngày tạo</th>
                    <th>Chỉnh sửa lần cuối</th>
                    <th>Tình trạng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {{#each this.tags}}
                <tr>
                    <td><b>{{name}}</b></td>
                    <td id="txtDateCreate">{{parseTime create_date}}</td>
                    <td>{{parseTime modifile_date}}</td>
                    {{#if delete}}
                    <td class="text-center" style="color: red;">
                        <i class="fa fa-lock" aria-hidden="true" title="Bị khóa"></i>
                    </td>
                    {{else}}
                    <td class="text-center">
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                    </td>

                    {{/if}}
                    <td class="d-flex">
                        <a class="btn btn-primary" href="/admin/tag/edit/{{id}}" title="Chỉnh sửa">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-info" href="/admin/tag/detail/{{id}}" title="Các bài viết chứa nhãn">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class=" foot article-pagination">
        <ul>
            <li><a {{#unless can_go_prev}} class="disable" {{/unless}} href="?page={{prev_value}}"><i
                        class="fa fa-angle-double-left"></i></a></li>
            {{#each pageItems}}
            <li {{#if active}} class="active" {{/if}}>
                <a {{#if disable}} class="disable" {{/if}} {{#if active}} class="active" {{/if}}
                    href="?page={{value}}">{{value}}</a></li>
            {{/each}}
            <li><a {{#unless can_go_next}} class="disable" {{/unless}} href="?page={{next_value}}"><i
                        class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
    <!-- end main content -->
</div>