{{#section 'css'}}
<link rel="stylesheet" href="/public//css/_login.css">
{{/section}}

{{#section 'js'}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--date picker-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#dob").datepicker({
            dateFormat: 'YYYY/MM/DD HH:mm:ss',
            changeMonth: true, 
            changeYear: true 
        });
    }
    );
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>
    <script>
      $('#avatar').fileinput({
        theme: 'fa',
        showCaption: true,
        dropZoneEnabled: true,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
        language: 'vi'
      });
    </script>

{{/section}}
  <div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <img src="/public/img/img_avatar/{{_user.avatar}}" >
                    <form id="frmProfile" action="/user/profile" enctype="multipart/form-data" method="post">
                        
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Displayname</h3>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" id="display_name" name="display_name" value="{{_user.display_name}}">
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Username</h3>
                            </div>
                            <div class="panel-body" name="user_name">
                                <input type="text" class="form-control" id="user_name" name="user_name" value="{{_user.user_name}}">
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Email</h3>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" id="email" name="email" value="{{_user.email}}">
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ngày sinh</h3>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" id="dob" name="dob" value="{{_user.DOB}}">
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Giới tính</h3>
                            </div>
                            {{#if isMale}}
                                <div class="panel-body">
                                <select name="gender" id="gender" class="browser-default custom-select">
                                    <option value="0" selected>Nam</option>
                                    <option value="1">Nữ</option>
                                </select>
                                </div>
                            {{else}}
                                <div class="panel-body">
                                <select name="gender" id="gender" class="browser-default custom-select">
                                    <option value="1" selected>Nữ</option>
                                    <option value="0">Nam</option>
                                </select>
                                </div>
                            {{/if}}
                        </div>
                        
                        <div class="form-group">
                            <label>Avatar</label>
                            <input id="avatar" name="avatar" type="file" class="file" data-browse-on-zone-click="true">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>