{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="../../public/ckeditor/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>

<script>
  $(document).ready(function () {
    $("#tag").select2({
      placeholder: "Thêm từ khoá bài viết",
    });
  });
</script>
<!--upload fileinput-->
<script>
  $('#avatar').fileinput({
    theme: 'fa',
    showCaption: true,
    dropZoneEnabled: true,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
    language: 'vi'
  });
</script>
<!--xu ly validate-->
<script type="text/javascript">
  function validateForm() {
    var title = $("#title").val();
    var tiny_des = $('#tiny_des').val();
    var category = $("#category").val();
    var full_des = $("#full_des").val();
    var avatar = $('#avatar').val();
    if (title == "") {
      alert("Xin nhập tiêu đề bài viết");
      return false;
    }
    if (tiny_des == "") {
      alert("Xin nhập mô tả bài viết");
      return false;
    }
    if (category == 0) {
      alert("Xin chọn chuyên mục bài viết");
      return false;
    }
    if (full_des == "") {
      alert("Xin nhập nội dung bài viết");
      return false;
    }
    if (avatar == "") {
      alert("Xin hãy chọn ảnh đại diện bài viết");
      return false;
    }
    return true;
  }
  $('#frmEditor').on('submit', function (e) {
    e.preventDefault();
    if (validateForm()) {
      $('#frmEditor').off('submit').submit();
    }
  })
</script>
<script type="text/javascript">
  CKEDITOR.replace('ckeditor', {
    "extraPlugins": 'imagebrowser',
    "imageBrowser_listUrl": "/writer/files"
  });
</script>
{{/section}}

<div class="content-body">
  <div class="title-editor">
    <h4>Đăng bài viết</h4>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>Chi tiết bài viết</h2>
    </div>
    <form method="post" id="frmEditor" class="frmEditor" name="frmEditor" action="/writer/editor"
      enctype='multipart/form-data'>
      <div class="form-group">
        <label>Tiêu đề bài viết</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề bài viết"
          enctype="multipart/form-data">
      </div>
      <div class="form-group">
        <label>Mô tả bài viết</label>
        <input type="text" class="form-control" id="tiny_des" name="tiny_des" placeholder="Mô tả bài viết">
      </div>
      <div class="form-group">
        <label>Chuyên mục</label>
        <select id="category" name="category">
          {{#each this.list}}
          <option value="{{cat2id}}">{{cat1name}} - {{cat2name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>Nội dung bài viết</label>
        <textarea name="full_des" id="ckeditor" class="ckeditor" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label>Từ khoá bài viết</label>
        <select id="tag" name="tag" multiple="multiple">
          {{#each this.tag}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label>Avatar</label>
        <input id="avatar" name="avatar" type="file" class="file" data-browse-on-zone-click="true">
      </div>
      <hr>
      <div class="form-group flex">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>