{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}

{{#section 'js'}}


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}
<!-- main content -->
<div class="wrapper">
    <form method="POST">
        <label for="id">#</label>
        <input type="text" name="post" readonly value="{{this.post.id}}">
        <p>Tên bài viết : {{this.post.title}}</p>
        <label>Chọn nhãn</label>
        <select name="tag" class="js-example-basic-single">
            {{#each this.tags }}
            <option value="{{id}}">ID: {{id}} , {{name}}</option>
            {{/each}}
        </select>
        <hr>
        <a href="/admin/post" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button type="submit" formaction="/admin/tag_post/add">
            <i class="fa fa-check" aria-hidden="true"></i>
            Lưu
        </button>
    </form>
</div>
<!-- end main content -->