{{#section 'css'}}
<script src="https://cdn.tiny.cloud/1/rbcj6cato868rot4qvtt4pqj81xjm7fc42ekdwqtooawu1rh/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{{/section}}

{{#section 'js'}}

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</script>
<script>
    $('#input').datetimepicker({
        format: 'H:i, d/m/Y',
        mask: true
    });
    tinymce.init({
        selector: '#full_des',
        plugins: '',
        menubar: false,
        toolbar: '',
        readonly: 1
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

{{/section}}

<!-- main content -->
<div class="wrapper">
    <form class="frm" action="/admin/post/update" method="POST">
        <h4 class="title">Chi tiết bài viết</h4>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" value="{{this.post.id}}" readonly>
        </div>
        <div class="form-group">
            <label for="title">Tên bài viết</label>
            <textarea type="text" id="title" name="title" rows="4" autofocus required>
                {{this.post.title}}
            </textarea>
        </div>
        <div class="form-group">
            <label for="tiny_des">Mô tả ngắn</label>
            <textarea type="text" id="tiny_des" name="tiny_des" rows="4" required>
                {{this.post.tiny_des}}
            </textarea>
        </div>
        <div class="form-group">
            <label for="tiny_des">Mô tả đầy đủ</label>
            <textarea type="text" id="full_des" name="full_des" rows="21" required> {{this.post.full_des}}</textarea>
        </div>
        <div class="form-group">
            <label for="author"> <i class="fa fa-paint-brush" aria-hidden="true">&nbsp;&nbsp;</i>Tác giả</label>
            <select name="author">
                {{#each this.users }}
                <option value="{{id}}" {{#if isAuthor}} selected {{/if}}> <i class="fa fa-male" aria-hidden="true"></i>
                    {{display_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="premium"><i class="fa fa-diamond" aria-hidden="true">&nbsp;&nbsp;</i>Loại bài viết</label>
            <select name="premium">
                {{#if this.post.premium}}
                <option value="1" selected>Premium </option>
                <option value="0">Thường</option>
                {{else}}
                <option value="1">Premium</option>
                <option value="0" selected>Thường </option>
                {{/if}}
            </select>
        </div>
        <div class="form-group">
            <label for="">
                <i class="fa fa-clock-o" aria-hidden="true">&nbsp;</i>
                Chỉnh sửa lần cuối
            </label>
            <input type="text " value="{{parseTime this.post.modifile_date}}" readonly>
        </div>
        <div class="form-group">
            <label for="publish_date">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Ngày ra mắt
            </label>
            <input id="input" type="text" name="publish_date" value="{{parseTime this.post.publish_date}}">
        </div>
        <div class="form-group">
            <label for="status">Trạng thái</label>
            <select name="status">
                <option value="0" {{#if this.post.isBrowsed}} selected {{/if}}>Đã được duyệt</option>
                <option value="1" {{#if this.post.isPublished}} selected {{/if}}>Đã xuất bản</option>
                <option value="2" {{#if this.post.isRejected}} selected {{/if}}>Bị từ chối</option>
                <option value="3" {{#if this.post.isDrafted}} selected {{/if}}>Draft</option>
            </select>
        </div>
        <div class="form-group">
            <label for="delete">Tình trạng</label>
            <select name="delete">
                {{#if this.post.delete}}
                <option value="1" selected>đang khóa </option>
                <option value="0">không khóa </option>
                {{else}}
                <option value="1">đang khóa </option>
                <option value="0" selected>không khóa </option>
                {{/if}}
            </select>
        </div>
        <div class="form-group">
            <label for="category">Thể loại</label>
            <select class="js-example-basic-single" name="category">
                {{#each this.cats2 }}
                <option value="{{id}}" {{#if isCat2}} selected {{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <p>Lượt xem: {{this.post.views}}</p>
        <hr>
        <div class="form-group d-flex">
            <a class="btn btn-primary" href="/admin/post" role="button" title="Back to List">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <button class="btn btn-success" type="submit">Lưu</button>
        </div>
    </form>
</div>
<!-- end main content -->