{{#section 'css'}}

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

{{/section}}

{{#section 'js'}}

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</script>
<script>
    $('#input').datetimepicker({
        format: 'H:i, d/m/Y',
        mask: true
    });
</script>


{{/section}}

<!-- main content -->
<div class="wrapper">
    <form action="/admin/post/update" method="POST">
        <label for="id">#</label>
        <input type="text" id="id" name="id" value="{{this.post.id}}" readonly>
        <label for="title">Tên bài viết</label>
        <input type="text" id="title" name="title" value="{{this.post.title}}" autofocus required>
        <label for="tiny_des">Mô tả ngắn</label>
        <input type="text" id="tiny_des" name="tiny_des" value="{{this.post.tiny_des}}" required>
        <label for="tiny_des">Mô tả đầy đủ</label>
        <textarea type="text" id="full_des" name="full_des" required> {{this.post.full_des}}</textarea>
        <i class="fa fa-paint-brush" aria-hidden="true"></i>
        <label for="author">Tác giả</label>
        <select name="author">
            {{#each this.users }}
            <option value="{{id}}" {{#if isAuthor}} selected {{/if}}>&#xf2c0; {{display_name}}</option>
            {{/each}}
        </select>
        <br><br>
        <i class="fa fa-genderless" aria-hidden="true"></i>
        <label for="premium">Loại bài viết</label>
        <select name="premium">
            {{#if this.post.premium}}
            <option value="1" selected> &#xf219; Premium </option>
            <option value="0">Thường</option>
            {{else}}
            <option value="1"> &#xf219; Premium</option>
            <option value="0" selected>Thường </option>
            {{/if}}
        </select>
        <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Sửa lần cuối vào lúc: {{parseTime this.post.modifile_date}}
        </p>
        <label for="publish_date">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Ngày ra mắt
        </label>
        <input id="input" type="text" name="publish_date" value="{{parseTime this.post.publish_date}}">
        <label for="status">Trạng thái</label>
        <select name="status">
            {{#if this.post.status}}
            <option value="0">&#xf00d; Draft</option>
            <option value="1" selected>&#xf14a; Đã xuất bản</option>
            {{else}}
            <option value="0" selected>&#xf00d; Draft</option>
            <option value="1">&#xf14a; Đã xuất bản</option>
            {{/if}}
        </select>
        <br><br>
        <label for="delete">Tình trạng</label>
        <select name="delete">
            {{#if this.post.delete}}
            <option value="1" selected>đang khóa &#xf119;</option>
            <option value="0">không khóa &#xf118;</option>
            {{else}}
            <option value="1">đang khóa &#xf119;</option>
            <option value="0" selected>không khóa &#xf118;</option>
            {{/if}}
        </select>
        <br><br>
        <label for="category">Thể loại</label>
        <input list="catLv2" name="category" id="category" value="{{this.post.category}}">
        <datalist id="catLv2">
            {{#each this.cats2}}
            <option value="{{id}}" {{#if isCat2}} selected {{/if}}>{{name}}</option>
            {{/each}}
        </datalist>
        <p>Lượt xem: {{this.post.views}}</p>
        <hr>
        <a href="/admin/post" role="button" title="Back to List">
            <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <input type="submit" value="Lưu">
    </form>
</div>
<!-- end main content -->