{{#section 'js'}}
<script>
    $('.article-pagination .disable').on('click', function (e) {
        e.preventDefault();
    })
</script>
{{/section}}
<!-- main content -->
<div class="wrapper">
    {{#if this.empty}}
    <div class="table-title">
        <h3>Không có bài viết nào.</h3>
    </div>
    {{else}}
    <div class="table-title">
        <h3>Danh sách bài viết</h3>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>Danh sách bài viết</h2>
            {{!-- <a class="btn success" href="/admin/post/add" role="button" title="Thêm bài viết">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Tạo bài viết
            </a> --}}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên bài viết</th>
                    <th>Ngày tạo</th>
                    <th>Avartar</th>
                    <th>Mô tả</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {{#each this.posts}}
                <tr>
                    <td><b>{{title}}</b></td>
                    <td id="txtDateCreate">{{parseTime create_date}}</td>
                    <td>
                        <img src="/public/img/img_post/{{folder_img}}/{{avatar}}.jpg" alt="" width="100" height="100">
                    </td>
                    <td>{{tiny_des}}</td>

                    <td class="d-inline-b">
                        <a class="btn btn-success" href="/admin/post/tag_post/{{id}}" title="Nhãn gắn bài viết">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-primary" href="/admin/post/detail/{{id}}" title="Chi tiết / chỉnh sửa">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="foot article-pagination">
        <ul>
            <li><a {{#unless can_go_prev}} class="disable" {{/unless}} href="?page={{prev_value}}"><i
                        class="fa fa-angle-double-left"></i></a></li>
            {{#each pageItems}}
            <li {{#if active}} class="active" {{/if}}>
                <a {{#if disable}} class="disable" {{/if}} {{#if active}} class="active" {{/if}}
                    href="?page={{value}}">{{value}}</a></li>
            {{/each}}
            <li><a {{#unless can_go_next}} class="disable" {{/unless}} href="?page={{next_value}}"><i
                        class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
    {{/if}}
</div>
<!-- end main content -->