{{#section 'js'}}
<script>
    $('.article-pagination .disable').on('click', function (e) {
        e.preventDefault();
    })
</script>
{{/section}}
<!-- main content -->
<div class="wrapper">
    {{#if this.empty}}
    <div class="table-title">
        <h3>Không có bài viết nào.</h3>
    </div>
    {{else}}
    <div class="table-title">
        <h3 style="color: indigo;">Danh sách bài viết</h3>
    </div>
    <br><br>
    <h4>
        <a class="btn success" href="/admin/post/add" role="button" title="Thêm bài viết">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Tạo bài viết
        </a>
    </h4>
    <br><br>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Tên bài viết</th>
                <th class="text-left">Ngày tạo</th>
                <th class="text-left">Avartar</th>
                <th class="text-left=">Mô tả</th>
                <th class="text-left">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {{#each this.posts}}
            <tr>
                <td class="text-left"><b>{{title}}</b></td>
                <td class="text-left" id="txtDateCreate">{{parseTime create_date}}</td>
                <td class="text-left">
                    <img src="/public/img/img_post/{{folder_img}}/{{avatar}}.jpg" alt="" width="100" height="100">
                </td>
                <td class="text-left">{{tiny_des}}</td>

                <td class="text-right td-post">
                    <a class="" href="/admin/post/tag_post/{{id}}" title="Nhãn gắn bài viết">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="" href="/admin/post/detail/{{id}}" title="Chi tiết / chỉnh sửa">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="article-pagination">
        <ul>
            <li><a {{#unless can_go_prev}} class="disable" {{/unless}} href="?page={{prev_value}}"><i
                        class="fa fa-angle-double-left"></i></a></li>
            {{#each pageItems}}
            <li {{#if active}} class="active" {{/if}}>
                <a {{#if disable}} class="disable" {{/if}} {{#if active}} class="active" {{/if}}
                    href="?page={{value}}">{{value}}</a></li>
            {{/each}}
            <li><a {{#unless can_go_next}} class="disable" {{/unless}} href="?page={{next_value}}"><i
                        class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </div>
    {{/if}}
</div>
<!-- end main content -->