{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{{/section}}

<!-- main content -->
<div class="wrapper">
    {{#if this.empty}}
    <div class="table-title">
        <h3>Không có thể loại cấp 2.</h3>
    </div>
    <a class="btn btn success" href="/admin/categorylv2/add/{{cat1ID}}" role="button" title="Thêm thể loại cấp 2">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Thêm thể loại loại cấp 2
    </a>
    {{else}}
    <div class="table-title">
        <h3>Danh sách thể loại cấp 2</h3>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>Danh sách thể loại cấp 2</h2>
            <a class="btn btn success" href="/admin/categorylv2/add/{{cat1ID}}" role="button"
                title="Thêm thể loại cấp 2">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm thể loại cấp 2
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên thể loại</th>
                    <th>Ngày tạo</th>
                    <th>Chỉnh sửa lần cuối</th>
                    <th>Tình trạng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {{#each this.category}}
                <tr>
                    <td><b>{{name}}</b></td>
                    <td id="txtDateCreate">{{parseTime create_date}}</td>
                    <td>{{parseTime modifile_date}}</td>
                    {{#if delete}}
                    <td class="text-center" style="color: red;">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </td>
                    {{else}}
                    <td class="text-center">
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                    </td>
                    {{/if}}
                    <td class="d-flex">
                        <a class="btn btn-primary" href="/admin/categorylv2/edit/{{id}}" title="Chỉnh sửa">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
    <div class="foot">
        <a class="btn btn success" href="/admin/category" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Trở về
        </a>
    </div>
</div>
<!-- end main content -->